*{
    background-color:#EDF4ED;
}
.main{
    display:block;
    height:1000px;
    background-color:#ABD1B5;
    position:absolute;
    left:50px;
    right:50px;
    top:50px;
    bottom:50px;
    border-radius:10px;
}
.head{
   text-align:center;
    border:1px solid black;
    border-radius:10px;
    background-color:#79B791;
}

#heading{
    background-color:#79B791;
}
#msg{
    background-color:#79B791;
    font-size:22px;
    color:black;
    font-weight: bold;
}
.code_container{
    margin-top:50px;
    text-align: center;
    height:600px;
    background-color:#ABD1B5;
}
textarea{
    background-color:#FFFFFF;
    font-size:18px;
    height:95%;
    width:60%;
    overflow-y:scroll;
    overflow-x:auto;
}

.button{
    display:flex;
    justify-content:center; 
    height:40px;
    background-color:#ABD1B5;
}
#submit{
    height:100%;
    background-color:#2a71a0;
    border-radius:10px;
    width:150px;
    font-size:18px;
}

#submit:hover{
    background-color:#19567e;
}

.output{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100px;
    width:100%;
    background-color:#ABD1B5;
}
#answer{
    font-size:38px;
    background-color:#ABD1B5;
}